$dark:#212121;
$lightDark: #2E2E2E;
$buttonGreen: linear-gradient(42deg, rgba(219,255,116,1) 0%, rgba(0,255,148,1) 100%);
$textWhite: #FFFFFF;
$likesColor: linear-gradient(42deg, rgba(255,51,51,1) 0%, rgba(250,109,6,1) 100%);
$green: rgb(219,255,116);
$greyBorder: #6c757d;
